/* Fonts available: Roboto Thin 100 Italic, Light 300, Regular 400, Black 900 */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

body {
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.header {
    color: #f9faf8;
    background-color: #1f2937;
    height: 3em;
}
    .header-content {
        display: flex;
        flex: 0 1 650px;
        max-width: 650px;
        height: 100%;
        margin: auto;
    }

        .header-text {
            flex: 1 1 400px;
            align-content: center;
            padding:16px;
            font-size: 14px;
            font-weight: 400;
        }

        .sidebar {
            align-content: center;
            padding-right: 8px;
        }

            ul {
                list-style-type: none;
                display: flex;
                flex: 1 10 50px;
                gap: 16px;
                font-size: 8pt;
                align-content: center;
            }

            a {
                text-decoration: none;
                color: #e5e7eb;
            }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.top {
    min-width: 100%;
    color: #f9faf8;
    background-color: #1f2937;
    flex: 1;
    margin: 0 auto;
}

    .top-container {
        display: flex;
        max-width: 650px;
        margin: auto;
        gap: 16px;
        justify-content: center;
        align-items: center;
        height: 100%
    }

        .top-left-container {
            flex: 1 0 325px;
        }

            .top-left {
                width: 325px;
                height: 60%;
            }

                .p1 {
                    color: #f9faf8;
                    font-size: 24px;
                    font-weight: 1000;
                    height: 0px;
                }

                .p2 {
                    color: #e5e7eb;
                    font-size: 12px;
                    margin-top: 16px;
                }

                button {
                    width: 75px;
                    padding: 8px;
                    margin-top: 16px;
                    font-size: 8pt;
                    color: #f9faf8;
                    background-color: #3882f6;
                    border: 0px;
                    border-radius: 4px;
                }

        .top-right {
            width: 325px;
            height: 100%;
            align-content: center;
        }

            .top-right > div {
                color: #f9faf8;
                background-color: #8c8d91;
                font-size: 8px;
                text-align: center;
                align-content: center;
                height: 60%
            }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.body {
    flex: 1;
    text-align: center;
    padding-top: 24px;
}

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin: 0 auto;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

        .flex-container > div {
            padding: 0px;
            font-size: 30px;
            width: 100px;
        }

            .item-pic {
                width: 100%;
                height: 100px;
            }

            .item-text {
                border-width: 0px;
                font-size: 10px;
                width: 80%;
                padding-bottom:24px;
                margin: 0 auto;
                text-align: center;
            }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.lower {
    flex: 1;
    background-color: #e5e7eb;
    justify-content: center;
    align-content: center;
}

    .lower-text {
        display: flex;
        flex-direction: column;
        max-width: 458px;
        margin: auto;
        text-align: center;
    }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.bottom {
    flex: 1;
    align-content: center;
}

    .signup-box {
        display: flex;
        justify-content: space-between;
        max-width: 600px;
        height: 100px;
        color: #f9faf8;
        background-color: #3882f6;
        margin: auto;
        border-radius: 8px;
    }

        .signup-box > div {
            margin: auto 64px;
        }

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.footer{
    color: #8c8d91;
    background-color:#1f2937;
    text-align: center;
    align-content: center;
    height: 5em;
    font-size: 12px;
    font-weight: 800;
}